*{
    margin: 100;
    padding: 100;
}

#titulo{
    font-family: cursive;
    color: rgb(255, 255, 255);
    margin-left: 7%;
}
#subtitulo{
    font-family: cursive;
    color: rgb(255, 255, 255);
    margin-left: 10%;
}
fieldset{
    border: 1;
}
body{
    background-image: url(th.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-color: blue;
    font-family: cursive;
    font-size: 1em;
    color: rgb(0, 0, 0);
    margin-left: 20%;
    margin-top: 2%;
    justify-content: center;
}

input,select,textarea,button{
    border-radius: 10px;
}
.campolable{
    margin-bottom: 0.2em;
    color: black;
    display: block;
}

.botao{
    font-size: 1.2em;
    background: rgb(13, 164, 239);
    border: 0;
    margin-bottom: -1px;
    color: aliceblue;
    padding: 0.2em 0.6em;
    box-shadow: 2px 2px 2px rgb(0, 0, 0);
    text-shadow: 1px 1px 1px black;
    position: absolute;
    top: 85%;
    left: 50%;
    transform: translate(-50%, -50%); 
}

.form{
    background: rgba(255, 255, 255, 0.104);
    backdrop-filter: blur(5px);
    background-position: center;
    margin-right: 40%;
    margin-left: 20%;
    padding-left: 1%;
    

}